.contactpage p{
    background-color:;
    font-size: large;

     font-weight: bolder;
    text-align: center;
}

*{
    background-color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
}
.submt:hover{
  transition: all;
  color: brown;  
}
